#!/bin/sh /etc/rc.common
START=99
SOTO=15
start(){
  /root/golinks --addr=:3080 --data={{ golinks_app_folder }}/data &
}
restart(){
  /root/golinks --addr=:3080 --data={{ golinks_app_folder }}/data &
}
