global
    log /dev/log    local0
    log /dev/log    local1 notice
    daemon
    maxconn 2048

defaults
    mode tcp
    log global
    timeout connect 10s
    timeout client 30s
    timeout server 30s

frontend http_front
    bind *:80
    mode tcp
    default_backend k8s_http

frontend https_front
    bind *:443
    mode tcp
    default_backend k8s_https

backend k8s_http
    mode tcp
    balance roundrobin
    server node1 k8s-master.corp.aetherrootr.com:30080 check
    server node2 k8s-node-1.corp.aetherrootr.com:30080 check

backend k8s_https
    mode tcp
    balance roundrobin
    server node1 k8s-master.corp.aetherrootr.com:30443 check
    server node2 k8s-node-1.corp.aetherrootr.com:30443 check
